/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif !important;
}


header, section{
    padding: 30px 0;
}
footer{
    padding: 40px 0;
}
h2.h2{
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    font-weight:600;
}
.btn.btn-green{
    padding: 12px 36px;
    border-radius: 30px;
    background-color: #21B573;
    color: white;
    font-size: 16px;
}
.btn.btn-green:hover{
    background-color: #12804e;
    transition: all .3s ease-in-out;
}
.text-violet{
    color: #413960;
}
.text-gray{
color: #585859;
}
.text-tomato{
    color: #FD511A;
}
h1.h1{
    font-weight: bold;
}
.text-green{
    color: #21B573;
}
/* Header Section */
header, nav{
    background-color: #F0FFF0;
}
.navbar-brand img{
    height: 60px;
    text-align: left;
}
a.nav-link.green{
    background-color: #21B573;
    color: white !important;
    border-radius: 136px;
    padding: 12px 28px !important;
    transition: all .3s ease-in-out;
}
a.nav-link.green:hover{
    background-color: #12804e;
}
section.hero nav.navbar li.green a.nav-link{
    color: white;
}
/* Section - Features */
.feature-box {
    text-align: center;
    padding: 50px 28px;
    background-color: #F8FFFB;
    border-radius: 10px;
    cursor: pointer;
}
.feature-box:hover{
    transition: all .3s ease-in-out;
    transform: translateY(-1px);
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.feature-box img{
    height: 80px;
    margin-bottom: 30px;
}
h3, .h3{
    font-size: 24px;
    font-weight: 600 ;
}
/* Section - Courses */
.courses .card{
    border: none;
    border-radius: 18px;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);

}
.courses .btn.btn-green{
    padding: 8px 28px;

}

.card .card-f img{
    display: inline-block;
    height: 24px;
}
.card .card-f p{
    
    font-weight: 500;
}
.carousel-item img{
    height: 130px;
    display: inline-block

}
.carousel-item p{
    font-size: 16px;
    line-height: 30px;
    font-weight: normal;
    font-family: 'Poppins', sans-serif;
    text-align: left;
    color: black;
}
/* Section - Testimonial */
.carousel-indicators li{
    background-color: #413960;
}
/* Footer */
footer img{
    height: 60px;
    margin-bottom: 20px;
}
footer p{
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
}
footer h5{
    font-size: 18px !important;
    font-weight: normal;
}
footer ul{
    list-style: none;
}
footer li{
    font-size: 15px;
    line-height: 28px;
    font-weight: 200;

}
.footer-bottom p{
    color: #CDCDCD;
font-size: 16px;
font-weight: 400;
}




